<div class="container">
    <h1>Dashboard Specific to Farmers</h1>
    <div class="panel">
        <div class="panel-heading">
            <p>Orders Widget</p>
        </div>
        <div class="panel-default">
            <p>Order one, $50 yadda yadda</p>
        </div>
        
    </div>
    <div class="panel">
        <div class="panel-heading">
            <p>Inventory</p>
        </div>
        <div class="panel-default">
            <%= render @shares %>
            
        </div>
        
    </div>
</div>