<div class="container">
	<h1>Dashboard Specific to Farmers</h1>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<p>Orders Widget</p>
			</div>
			<div class="panel-body">
			</div>
			<div class="panel-default">
			</div>
		</div>
		<div class="panel">
			<div class="panel-heading">
				<p>Inventory</p>
			</div>
			<div class="panel-default">
				<% if @shares.present? %>
					<%= render @shares %>
				<% else %>
					<h3>Ain't got no orders yet.</h3>
				<% end %>
			</div>
		</div>
	</div>
</div>