<div class="jumbotron">
  <%= image_tag("pasture-h405px.jpg", :class => 'front-page-image') %>
  <div class="container">
    <h1>Farm Share</h1>
    <h3>Find local animal shares and make the world a happier place!</h3>
  </div>
</div>
<!-- Scrolling up area 1 -->
<!-- ABOUT US TILES tell the user why to use our site-->
<div class="container">
  <div class="front-page about-us">
    <div class="row">
      <!-- Tile 1 -->
      <div class="tiles col-md-4 col-sm-12">
        <span class="glyphicon glyphicon-grain"></span>
        <p>90% of the Crops grown in the US are merely feed for livestock, close a feedlot - plant a forest</p>
      </div>
      <!-- Tile 2-->
      <div class="tiles col-md-4 col-sm-12">
        <span class="glyphicon glyphicon-user"></span>
        <p>Healthier animals, means a healthier carnivore - that's you!</p>
      </div>
      <!-- Tile 3 -->
      <div class="tiles col-md-4 col-sm-12">
        <span class="glyphicon glyphicon-globe"></span>
        <p>removing feedlots and factory farming makes our world a better place to live :)</p>
      </div>
    </div>
  </div>


  <!-- Scroll up area 2 -->
  <div class="user-setup">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="panel panel-default signup-panel">
          <div class="panel-heading">
            <h2 class="panel-title">Sign Up!</h2>
          </div>
          <div class="panel-body">
            <p>We swear It's quick and easy</p>
            <%= render "devise/registrations/new.html.erb" %>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="panel panel-default login-panel">
          <div class="panel-heading">
            <h2 class="panel-title">Already a member?</h2>
          </div>
          <div class="panel-body">
            <%= render "devise/sessions/new" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>