<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @share.animal %>
</p>

<p>
  <strong>Size:</strong>
  <%= @share.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @share.price %>
</p>
